version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    # volumes:
    #   - ./frontend:/app
    #   - /app/node_modules
    # environment:
    #   - VITE_API_URL=http://localhost:5000 # Update this based on your backend port
    # depends_on:
    #   - backend

  # backend:
  #   build:
  #     context: ./backend
  #     dockerfile: Dockerfile
  #   ports:
  #     - "5000:5000"
  #   volumes:
  #     - ./backend:/app
  #     - /app/node_modules
  #   # If they have a .env file, this tells Docker to use it
  #   env_file:
  #     - ./backend/.env