/* Global Reset */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #ffffff;
}

/* Typography and Element Styles */
label {
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 0.9rem;
}

input,
textarea {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #ff5e6b;
}

button {
  cursor: pointer;
  border: none;
  font-weight: bold;
  transition: all 0.3s ease;
}
