/* Global Styles */
@import url('./globals.css');
@import url('./header.css');
@import url('./forms.css');
@import url('./gallery.css');
@import url('./modal.css');
@import url('./dish-detail.css');

.form-actions button:hover {
  background-color: #B95235;
  transform: translateY(-2px);
}
